<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-3 mb-5 bg-body-tertiary rounded-4">
        <div class="card-body">
          <h3 class="text-center">Reset account Password</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-group mb-3">
              <label for="password" class="form-label">New password</label>
              <input
                class="form-control rounded-pill mb-3"
                formControlName="password"
                id="password"
                placeholder="Password"
                [type]="showPassword ? 'text' : 'password'"
              />
              <div
                *ngIf="
                  form.get('password')?.dirty && form.get('password')?.invalid
                "
              >
                *Required
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirm Password</label
              >
              <input
                class="form-control rounded-pill mb-3"
                formControlName="confirmPassword"
                id="confirmPassword"
                placeholder="Confirm Password"
                [type]="showPassword ? 'text' : 'password'"
              />
              <div
                *ngIf="
                  form.get('passwordGroup.confirm')?.dirty &&
                  form.get('passwordGroup')?.invalid
                "
              >
                *Password mismatch
              </div>
            </div>

            <div class="form-check mb-3">
              <input type="checkbox" (change)="showHidePassword($event)" />
              Show passwords
            </div>

            <div class="d-grid">
              <button
                type="submit"
                class="btn rounded-pill mb-3"
                style="
                  background: linear-gradient(to right, #007bff, #00ffb0);
                  color: white;
                "
                [disabled]="form.invalid"
              >
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
