<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow p-3 mb-5 bg-body-tertiary rounded-4">
        <div class="card-body">
          <h3 class="text-center mb-4">Skyjo</h3>
          <form [formGroup]="form" (ngSubmit)="check()">
            <div class="mb-3">
              <label for="user" class="form-label">User</label>
              <input
                type="text"
                class="form-control rounded-pill mb-3"
                id="user"
                name="user"
                formControlName="login"
                placeholder="Username"
                [(ngModel)]="login"
                required
              />
              <div
                *ngIf="form.get('login')?.dirty && form.get('login')?.invalid"
              >
                <span *ngIf="form.get('login')?.hasError('required')"
                  >*username required</span
                >
              </div>
            </div>
            <div class="mb-3 password-input-wrapper">
              <label for="password" class="form-label">Password</label>
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                class="form-control rounded-pill mb-3"
                id="password"
                formControlName="password"
                name="password"
                placeholder="Enter your Password"
                [(ngModel)]="password"
              />
              <div
                *ngIf="
                  form.get('password')?.dirty && form.get('password')?.invalid
                "
              >
                <span *ngIf="form.get('password')?.hasError('required')"
                  >*password required</span
                >
              </div>
              <span
                class="bi"
                [ngClass]="{
                  'bi-eye': !showPassword,
                  'bi-eye-slash': showPassword
                }"
                (click)="togglePasswordVisibility()"
              ></span>
            </div>

            <div class="mb-3">
              <a routerLink="/forgot-password">Forgot password?</a>
            </div>
            <div class="d-grid">
              <button
                type="submit"
                class="btn rounded-pill mb-3"
                style="
                  background: linear-gradient(to right, #007bff, #00ffb0);
                  color: white;
                "
                [disabled]="form.invalid"
              >
                Login
              </button>
            </div>
            <div class="d-grid mt-2">
              <p style="text-align: center; margin-bottom: 10px">
                Don't have an account?
              </p>
              <a
                routerLink="/register"
                class="btn rounded-pill mb-3"
                style="background-color: #d9d9d9"
                >Register</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
