<body>
  <div class="page-container">
    <!-- <section id="plateau_de_jeu"> -->
    <div class="grid-container">
      <div class="P1">
        <div class="c1-1P1">
          <button class="btn-c1-1P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>

        <div class="c1-2P1">
          <button class="btn-c1-2P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c1-3P1">
          <button class="btn-c1-3P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c1-4P1">
          <button class="btn-c1-4P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c2-4P1">
          <button class="btn-c2-4P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c3-4P1">
          <button class="btn-c3-4P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c3-3P1">
          <button class="btn-c3-3P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c3-2P1">
          <button class="btn-c3-2P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c3-1P1">
          <button class="btn-c3-1P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c2-3P1">
          <button class="btn-c2-3P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c2-2P1">
          <button class="btn-c2-2P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="c2-1P1">
          <button class="btn-c2-1P1" type="button">
            <img src="./assets/images/Card.png" />
          </button>
        </div>
        <div class="tP1"><b>Player 1</b></div>
      </div>
      <div class="P2" [class]="changeClass[2]">
        <div class="c1-1P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-1P2"
          />
        </div>
        <div class="c1-2P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-2P2"
          />
        </div>
        <div class="c1-3P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-3P2"
          />
        </div>
        <div class="c1-4P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-4P2"
          />
        </div>
        <div class="c2-4P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-4P2"
          />
        </div>
        <div class="c3-4P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-4P2"
          />
        </div>
        <div class="c3-3P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-3P2"
          />
        </div>
        <div class="c3-2P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-2P2"
          />
        </div>
        <div class="c3-1P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-1P2"
          />
        </div>
        <div class="c2-3P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-3P2"
          />
        </div>
        <div class="c2-2P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-2P2"
          />
        </div>
        <div class="c2-1P2">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-1P2"
          />
        </div>
        <div class="tP2"><b>Player 2</b></div>
      </div>
      <div class="P3" [class]="changeClass[3]">
        <div class="c1-1P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-1P3"
          />
        </div>
        <div class="c1-2P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-2P3"
          />
        </div>
        <div class="c1-3P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-3P3"
          />
        </div>
        <div class="c1-4P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-4P3"
          />
        </div>
        <div class="c2-4P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-4P3"
          />
        </div>
        <div class="c3-4P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-4P3"
          />
        </div>
        <div class="c3-3P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-3P3"
          />
        </div>
        <div class="c3-2P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-2P3"
          />
        </div>
        <div class="c3-1P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-1P3"
          />
        </div>
        <div class="c2-3P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-3P3"
          />
        </div>
        <div class="c2-2P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-2P3"
          />
        </div>
        <div class="c2-1P3">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-1P3"
          />
        </div>
        <div class="tP3"><b>Player 3</b></div>
      </div>
      <div class="P4" [class]="changeClass[4]">
        <div class="c1-1P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-1P4"
          />
        </div>
        <div class="c1-2P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-2P4"
          />
        </div>
        <div class="c1-3P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-3P4"
          />
        </div>
        <div class="c1-4P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-4P4"
          />
        </div>
        <div class="c2-4P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-4P4"
          />
        </div>
        <div class="c3-4P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-4P4"
          />
        </div>
        <div class="c3-3P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-3P4"
          />
        </div>
        <div class="c3-2P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-2P4"
          />
        </div>
        <div class="c3-1P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-1P4"
          />
        </div>
        <div class="c2-3P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-3P4"
          />
        </div>
        <div class="c2-2P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-2P4"
          />
        </div>

        <div class="c2-1P4">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-1P4"
          />
        </div>

        <div class="tP4"><b>Player 4</b></div>
      </div>
      <div class="P5" [class]="changeClass[5]">
        <div class="c1-1P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-1P5"
          />
        </div>
        <div class="c1-2P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-2P5"
          />
        </div>
        <div class="c1-3P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-3P5"
          />
        </div>
        <div class="c1-4P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c1-4P5"
          />
        </div>
        <div class="c2-4P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-4P5"
          />
        </div>
        <div class="c3-4P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-4P5"
          />
        </div>
        <div class="c3-3P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-3P5"
          />
        </div>
        <div class="c3-2P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-2P5"
          />
        </div>
        <div class="c3-1P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c3-1P5"
          />
        </div>
        <div class="c2-3P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-3P5"
          />
        </div>
        <div class="c2-2P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-2P5"
          />
        </div>
        <div class="c2-1P5">
          <img
            src="./assets/images/Card.png"
            class="img-fluid img-small img-md img-lg"
            id="c2-1P5"
          />
        </div>
        <div class="tP5"><b>Player 5</b></div>
      </div>

      <div class="PiocheDefausse">
        <div class="Pioche">
          <button
            class="btn-pioche"
            type="button"
            id="btnPioche"
            (click)="TourP1 && turnDrawCard()"
            (dragstart)="dragStartPioche($event)"
          >
            <img src="./assets/images/Card.png" />
          </button>
          <section id="optionsPioche" class="d-none">
            <button id="btnGarder">Garder</button>
            <button id="btnChanger">Jeter</button>
          </section>
        </div>
        <div class="Defausse">
          <button
            class="btn-defausse"
            type="button"
            id="btnDefausse"
            (dragstart)="dragStartDefausse($event)"
            (dragend)="dragEnd()"
          >
            <img
              src="./assets/images/Defausse_debut_partie.png"
              style="width: 100%; height: 100%"
            />
          </button>
        </div>
        <div class="tPioche"><b>Pioche</b></div>
        <div class="tDefausse"><b>Défausse</b></div>
        <div id="TexteP1" class="d-none"></div>
      </div>

      <div class="Chat">Chat</div>
    </div>
  </div>
</body>
