<div class="mt-5">
  <h6>Create or Join a game now !</h6>

  <div class="mt-4">
    <div class="d-flex align-items-center justify-content-start ms-5 col-3">
      <button
        class="flex-fill btn rounded-pill mb-3 shadow-lg"
        style="
          background: linear-gradient(to right, #007bff, #00ffb0);
          color: white;
        "
        (click)="goToCreate()"
      >
        Create a new game
      </button>
    </div>
    <div class="d-flex flex-row">
      <div
        class="d-flex justify-content-start align-items-center ms-5 col-3 me-3"
      >
        <button
          class="flex-fill btn rounded-pill mb-3 bg-white text-primary shadow-lg"
          (click)="toggleShowLinkInput()"
        >
          Join a game with a link
        </button>
      </div>
      <div *ngIf="showLinkInput" class="d-flex flex-row">
        <input
          class="rounded-start-4 border border-secondary mb-3 ps-3 shadow-lg"
          style="--bs-border-opacity: 0.5"
          placeholder="link"
        />
        <button
          class="rounded-end-4 mb-3 border border-secondary p-1 pe-2 bg-white shadow-lg"
          style="--bs-border-opacity: 0.5"
        >
          Join
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center"></div>
  </div>
</div>
