<div class="mt-5">
  <h6>Create or Join a game now !</h6>

  <div class="mt-4 text-center">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex col-3">
        <button
          class="flex-fill btn rounded-pill mb-3 shadow-lg"
          style="
            background: linear-gradient(to right, #007bff, #00ffb0);
            background-repeat: no-repeat;
            color: white;
          "
          (click)="goToCreate()"
        >
          Create a new game
        </button>
      </div>
    </div>
  </div>
  <div class="mt-4 text-center">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex justify-content-start align-items-center col-3">
        <button
          class="flex-fill btn rounded-pill mb-3 bg-white shadow-lg"
          (click)="toggleShowLinkInput()"
          style="
            display: inline-block;
            background: linear-gradient(
              to left,
              red,
              orange,
              yellow,
              green,
              rgb(131, 205, 241),
              blue,
              indigo
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          "
        >
          Join a game with a link
        </button>
      </div>
      <div *ngIf="showLinkInput" class="d-flex flex-row">
        <input
          class="rounded-start-4 border border-secondary mb-3 ps-3 shadow-lg"
          style="--bs-border-opacity: 0.5"
          placeholder="link"
          [(ngModel)]="link"
        />
        <button
          class="rounded-end-4 mb-3 border border-secondary p-1 pe-2 bg-white shadow-lg"
          style="
            background: linear-gradient(to right, #007bff, #00ffb0);
            background-repeat: no-repeat;
            color: white;
          "
          (click)="joinGame()"
        >
          Join
        </button>
      </div>
    </div>
  </div>
</div>
