<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container-fluid">
    <div class="navbar-nav me-auto">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      <a routerLink="/register" routerLinkActive="active" class="nav-link"
        >Register</a
      >
      <a
        *ngIf="!logged"
        routerLink="/login"
        routerLinkActive="active"
        class="nav-link"
        >Sign in</a
      >
    </div>
    <a routerLink="/plateau" routerLinkActive="active" class="nav-link"
      >Plateau</a
    >
    <div class="navbar-nav ms-auto">
      <a
        class="btn btn-warning"
        href="https://www.youtube.com/watch?v=4BJv_vDqou8"
        target="_blank"
      >
        <i class="fab fa-youtube"></i> Watch Tutorial
      </a>
    </div>
  </div>
  <div class="navbar-nav ms-auto">
    <button *ngIf="logged" (click)="logout()" class="btn btn-link logout-btn">
      Sign out
    </button>
  </div>
</nav>
