<head>
  <link rel="stylesheet" href="creation-de-partie.component.css" />
</head>
<!-- <body> -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-3 mb-5 bg-body-tertiary rounded-4">
        <div class="card-body">
          <div class="text-center">
            <h2
              class="text-center mb-4"
              style="
                display: inline-block;
                background: linear-gradient(
                  to left,
                  red,
                  orange,
                  yellow,
                  green,
                  rgb(131, 205, 241),
                  blue,
                  indigo
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              "
            >
              Skyjo
            </h2>
          </div>
          <div class="dropdown">
            <button
              type="button"
              class="btn rounded-pill mb-3 dropdown-toggle"
              data-bs-toggle="dropdown"
              style="
                background: linear-gradient(to right, #007bff, #00ffb0);
                color: white;
              "
            >
              Game options
            </button>
            <ul class="dropdown-menu">
              <li>
                Maximal score :
                <select class="form-select" [(ngModel)]="choixDuScore">
                  <option>50</option>
                  <option>100</option>
                  <option>200</option>
                  <option>400</option>
                  <option>600</option>
                  <option>800</option>
                  <option>1000</option>
                </select>
              </li>
              <li>
                Maximal number of turn :
                <select class="form-select" [(ngModel)]="choixDuNombreDeTours">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </li>
            </ul>
          </div>

          <form (ngSubmit)="recupererDonneesFormulaire()">
            <div class="form-group mb-3">
              <label for="player1" class="text-dark">Player 1</label>
              <select
                class="form-select"
                name="player1"
                [(ngModel)]="joueur1Selection.type"
              >
                <option>Human</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="player2" class="text-dark">Player 2</label>
              <select
                class="form-select"
                [(ngModel)]="joueur2Selection.type"
                name="player2"
              >
                <option>IA</option>
                <option>Human</option>
              </select>
            </div>
            <div *ngIf="ajouterJoueurClicked" class="form-group mb-3">
              <div
                *ngFor="let joueur of joueurs; let i = index"
                class="form-group mb-3"
              >
                <label for="Player{{ joueur.numero }}" class="text-dark"
                  >Player {{ joueur.numero }}</label
                >
                <select
                  class="form-select"
                  (change)="gererSelection($event, i)"
                  name="player{{ joueur.numero }}"
                >
                  <option
                    [value]="'Ordinateur'"
                    [selected]="joueur.type === 'Ordinateur'"
                  >
                    IA
                  </option>
                  <option
                    [value]="'Joueur'"
                    [selected]="joueur.type === 'Joueur'"
                  >
                    Human
                  </option>
                </select>
              </div>
            </div>
            <div class="d-grid" id="buttonContainer">
              <button
                type="button"
                class="btn rounded-pill mb-3"
                style="
                  background: linear-gradient(to right, #007bff, #00ffb0);
                  color: white;
                "
                (click)="ajouterJoueur()"
                [disabled]="boutonAjouterJoueurDesactive"
              >
                Add Player
              </button>
            </div>
            <div class="d-grid" id="buttonContainer">
              <button
                type="submit"
                class="btn rounded-pill mb-3"
                style="
                  background: linear-gradient(to right, #007bff, #00ffb0);
                  color: white;
                "
              >
                Create Game
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="alert alert-danger" id="limiteAtteinte" style="display: none">
    <strong>Limite de joueurs atteinte !</strong> Vous avez atteint la limite du
    nombre de joueurs autorisés pour une partie.
  </div> -->
<!-- <footer></footer>
</body> -->
