<div class="container">
  <h2 class="text-center mb-4">Partie terminée !</h2>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Score</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let playerScore of playerScoresWithUsername">
          <tr>
            <td>{{ playerScore.username }}</td>
            <td>{{ playerScore.score }}</td>
            <td class="status-cell">
              <span
                class="status-badge {{
                  isWinner(playerScore.score) ? 'winner' : 'loser'
                }}"
              >
                {{ isWinner(playerScore.score) ? "Winner" : "Loser" }}
              </span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <a
    routerLink="/"
    class="btn rounded-pill mb-3"
    style="
      background: linear-gradient(to right, #007bff, #00ffb0);
      background-repeat: no-repeat;
      color: white;
      text-align: center;
    "
    >Return to the home</a
  >
</div>
