<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-3 mb-5 bg-body-tertiary rounded-4">
        <div class="card-body">
          <div class="text-center">
            <h2
              class="text-center mb-4"
              style="
                display: inline-block;
                background: linear-gradient(
                  to left,
                  red,
                  orange,
                  yellow,
                  green,
                  rgb(131, 205, 241),
                  blue,
                  indigo
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              "
            >
              Create Account
            </h2>
          </div>
          <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control rounded-pill mb-3"
                formControlName="login"
                id="username"
                placeholder="Username"
              />
              <div
                *ngIf="form.get('login')?.dirty && form.get('login')?.invalid"
              >
                <span
                  class="text-danger"
                  *ngIf="form.get('login')?.hasError('required')"
                  >*Username Required</span
                >
                <span
                  class="text-danger"
                  *ngIf="form.get('login')?.hasError('loginExist')"
                  >*Username already in use</span
                >
              </div>
            </div>

            <ng-container formGroupName="passwordGroup">
              <div class="form-group mb-3">
                <label for="password" class="form-label">Create password</label>
                <input
                  class="form-control rounded-pill mb-3"
                  formControlName="password"
                  id="createPassword"
                  placeholder="Create password"
                  [type]="showPassword ? 'text' : 'password'"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    form.get('passwordGroup.password')?.dirty &&
                    form.get('passwordGroup.password')?.invalid
                  "
                >
                  *Required with 1 uppercase, 1 lowercase, and 1 digit
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="confirmPassword" class="form-label"
                  >Confirm password</label
                >
                <input
                  class="form-control rounded-pill mb-3"
                  formControlName="confirm"
                  id="confirmPassword"
                  placeholder="Confirm password"
                  [type]="showPassword ? 'text' : 'password'"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    form.get('passwordGroup.confirm')?.dirty &&
                    form.get('passwordGroup')?.invalid
                  "
                >
                  *Password mismatch
                </div>
              </div>

              <div class="form-check mb-3">
                <input type="checkbox" (change)="showHidePassword($event)" />
                show passwords
              </div>
            </ng-container>
            <div class="form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control rounded-pill mb-3"
                id="email"
                placeholder="Email"
                formControlName="email"
              />
              <div
                *ngIf="form.get('email')?.dirty && form.get('email')?.invalid"
              >
                <span
                  class="text-danger"
                  *ngIf="form.get('email')?.hasError('required')"
                  >*required</span
                >
                <span
                  class="text-danger"
                  *ngIf="form.get('email')?.hasError('pattern')"
                  >*Invalid email format</span
                >
                <span
                  class="text-danger"
                  *ngIf="form.get('email')?.hasError('emailExist')"
                  >*Email already in use</span
                >
              </div>
            </div>

            <div class="d-grid">
              <button
                type="submit"
                class="btn rounded-pill mb-3"
                style="
                  background: linear-gradient(to right, #007bff, #00ffb0);
                  color: white;
                "
                [disabled]="form.invalid"
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
