<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-3 mb-5 bg-body-tertiary rounded-4">
        <div class="card-body">
          <h2 class="text-center mb-4">Create Account</h2>

          <form>
            <div class="form-group mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control rounded-pill mb-3"
                id="username"
                placeholder="Username"
                required
              />
            </div>

            <div class="form-group mb-3">
              <label for="password" class="form-label">Create password</label>
              <input
                type="password"
                class="form-control rounded-pill mb-3"
                id="createPassword"
                placeholder="Create password"
                required
              />
            </div>

            <div class="form-group mb-3">
              <label for="password" class="form-label">Confirm password</label>
              <input
                type="password"
                class="form-control rounded-pill mb-3"
                id="confirmPassword"
                placeholder="Confirm password"
                required
              />
            </div>

            <div class="form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control rounded-pill mb-3"
                id="email"
                placeholder="Email"
                required
              />
            </div>

            <div class="d-grid">
              <button
                type="submit"
                class="btn rounded-pill mb-3"
                style="
                  background: linear-gradient(to right, #007bff, #00ffb0);
                  color: white;
                "
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
